

body {
    background: var(--background);
    padding-top: 32px;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-variant-ligatures: var(--ligatures);
    font-feature-settings: var(--font-features);
    tab-size: var(--tab-size);
    user-select: none;
}

.screen-shot {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.space {
    max-width: 100%;
    overflow-x: scroll;
    margin: auto;
}

.card-parent {
    /* border-radius: 8px;*/
    background: #32325d; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    /* background-color: var(--container-background-color); */
    width: max-content;
    overflow: hidden;

}


.window {
    overflow: hidden;
    width: max-content;
    display: flex;
    min-height: 120px;
    flex-direction: column;
    align-items: stretch;
    padding: 10px 18px 18px 10px ;
    border: 1px solid hsla(0,0%,100%,.3);
    border-radius: 10px;
    background: rgba(0,0,0,.75);
    /* background: rgba(255, 255, 255, 0.75); */
    transition: all .3s cubic-bezier(0.25, 0.1, 1, 1.75);
}

.navbar {
    overflow: hidden;
    margin-bottom: 15px;
    text-align: center;
}

.window-controls {
    display: flex;
    float: left;
    margin-top: 2px;
}

.window-controls[hidden] {
    display: none;
}

.window-title {
    /* width of window controls (and a bit) so they don't overlap */
    margin: 0 80px;
}



.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.red {
    background-color: #ff5f5a;
}

.yellow {
    background-color: #ffbe2e;
}

.green {
    background-color: #2aca44;
}


.card-shine {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.5) 70%,#fff);
    pointer-events: none;
    opacity: 0.2;
  }
  


  