.main-parent {
    position: fixed;
    z-index: 5;
    left: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100px;
}
.shutter {
    /* z-index: 10;
    top: 130px; */
    border-radius: 50px;
    width: 100px;
    background-color: black;
}
.menu {
    /* bottom: 50%; */
   display: flex;
    flex-flow: column;
    align-items: center;
 
    padding: 10px;
    border: 1px solid hsla(0, 0%, 100%, .2);
    border-radius: 8px;
    background: var(--panel-background);
    box-shadow: 0 4px 16px rgba(0, 0, 0, .6);
    /* transform: translateX(-50%); */
}
.settings {
    color: #ccc;
    margin-bottom: -5px;
    top: 50%;

}
.settings > .title {
    display: inline;
    margin-left: 5px;
    
}

.settings > .icon {
    text-align: center;
    font-size: 40px;
   
}

/* .settings > .title {
    color: #ccc;
    display: none;
} */

.menu > ul {
    display: none;
    width: 100px;
    /* display: flex;*/
    list-style: none;
    margin: 0;
    padding: 0; 
    
}

.menu li {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.menu .action-btn {
    width: 100px;
}

.menu .dropdown {
    display: flex;
    overflow: hidden;
    height: 24px;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 6px;
    background: transparent;
    box-shadow: none;
    color: hsla(0, 0%, 100%, .8);
    cursor: default;
    font-size: 13px;
    font-weight: 500;
    gap: 12px;
    letter-spacing: .1px;
    line-height: 16px;
    outline: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.menu .dropdown select {
    width: 150px;
}

.menu .dropdown.active {
    display: block;
}

.menu label {
    margin-bottom: 2px;
    color: hsla(0, 0%, 100%, .4);
    cursor: default;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 14px;
    white-space: nowrap;
    
}

/* Custom dropdown arrow */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Replace with your arrow icon */
    background-repeat: no-repeat;
    background-position: right center;


}

/* Dropdown styles */
select {
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    /* Adjust width as needed */
    padding: 2px 5px 2px 5px;
    border: 1px solid #ccc;
    font-weight: 10;
    border-radius: 4px;
    color: #dcdcdc;
    font-size: 13px !important;
    background-color: var(--background);

}

/* Hover and focus styles */
select:hover,
select:focus {
    border-color: #888;
    outline: none;

}

select > option {
    -moz-appearance: none; 
    -webkit-appearance: none ; 
    appearance: none;
    background-color: aquamarine;
    background: aquamarine;
    color: red;
}

.button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    font-size: 52px;
    transition: all 0.4s ease-in;
   
    &:before {
      content: '';
      background-color: aliceblue;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: scale(0.001, 0.001);
    }
    &:focus {
      outline: 0;
      color: #fff;
      &:before {
        animation: effect_dylan 0.8s ease-out;
      }
    }
  }
  @keyframes effect_dylan {
    50% {
      transform: scale(1.5, 1.5);
      opacity: 0;
    }
    99% {
      transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      transform: scale(0.001, 0.001);
      opacity: 1;
    }
  }