@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:500,700);

/* body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background: #F6F9FC;
    padding-top: 32px;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-variant-ligatures: var(--ligatures);
    font-feature-settings: var(--font-features);
    tab-size: var(--tab-size);
    user-select: none;
   
} */

.space {
  max-width: 100%;
  overflow-x: scroll;
  margin: auto;
}

.card-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--container-padding);
  background-color: var(--container-background-color);
  width: max-content;
}

.card {
   /* border-radius: 8px;
  background: #32325d;
  /* width: 525px; */
  /* transform: rotate3d(.5,.866,0,15deg) rotate(-1deg); 
  box-shadow:
    -27.1px 62.5px 125px -25px rgba(50,50,93,.5), 
    -16.2px 37.5px 75px -37.5px rgba(0,0,0,.6);
    */

  display: flex;
  flex-direction: column;
  border-radius: var(--window-border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  resize: horizontal;
  width: max-content;
  min-width: 100px;
  padding: 18px;
  background-color: red;
}

.code-snippet {
  /* padding: 25px 30px;   */
}

.card-shine {
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.5) 70%,#fff);
  pointer-events: none;
  opacity: 0.2;
}

/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+clike+javascript */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
  background: transparent;
  color: #e6ebf1;
  font-family: 'Source Code Pro', Consolas, Menlo, monospace;
  font-size: 14px;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.3;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
  overflow: hidden;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

.token.function,
.token.constant,
.token.boolean {
  color: #45b2e8;
}

.token.keyword,
.token.operator {
  color: #7795f8;
}

.token.function,
.token.keyword {
  font-weight: 600;
}

/* mac style title buttons */


.buttons {
  float: left;
  line-height: 0px;
}

.buttons:hover a {
  visibility: visible;
}

.close {
  background: #ff5c5c;
  font-size: 9pt;
  line-height: 11px;
  margin-right: 4px;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
}

.close:active {
  background: #c14645;
  border: 1px solid #b03537;
}

.close:active .closebutton {
  color: #4e0002;
}

.closebutton {
  color: #820005;
  visibility: hidden;
  cursor: default;
}

.minimize {
  background: #ffbd4c;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  border: 1px solid #e09e3e;
  border-radius: 50%;
  display: inline-block;
}

.minimize:active {
  background: #c08e38;
  border: 1px solid #af7c33;
}

.minimize:active .minimizebutton {
  color: #5a2607;
}

.minimizebutton {
  color: #9a5518;
  visibility: hidden;
  cursor: default;
}

.zoom {
  background: #00ca56;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 6px;
  width: 11px;
  height: 11px;
  border: 1px solid #14ae46;
  border-radius: 50%;
  display: inline-block;
}

.zoom:active {
  background: #029740;
  border: 1px solid #128435;
}

.zoom:active .zoombutton {
  color: #003107;
}

.zoombutton {
  color: #006519;
  visibility: hidden;
  cursor: default;
}

.content {
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-all;
  color: #2d2d2d;
  background-color:  #2d2d2d;
  font-family: var(--vscode-editor-font-family);
  font-size: calc(var(--vscode-editor-font-size) * 1px);
  font-weight: var(--vscode-editor-font-weight);
 
}